<small *ngIf="invalidLogin">{{errorMessage}}</small>

<div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Enter your username" [(ngModel)]="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter your password" [(ngModel)]="password"
        required>

    <!-- <button class="button-49" (click)=handleLogin()>log in</button> -->
    <button class="button-49" (click)=handleBasicAuthLogin()>log in</button>

</div>