<div class="navigation-container">
    <nav>
        <div class="left">
            <a *ngIf="HardcodedAuthService.isUserLogged()" routerLink="/welcome/*">Home</a>
            <a *ngIf="HardcodedAuthService.isUserLogged()" routerLink="/todos">Todos</a>
        </div>
        <div class="right">
            <a *ngIf="!HardcodedAuthService.isUserLogged()" routerLink="/">Login</a>
            <a *ngIf="HardcodedAuthService.isUserLogged()" routerLink="/logout">Logout</a>
        </div>
    </nav>
</div>